.h1 {
    margin: 0;
    //padding-bottom: 7px;
    position: relative;
    border-bottom: 2px solid #007bff;
  }
  
  .h1:before {
    position: absolute;
    background:  #ffc107;
    height: 2px;
    content: '';
    width: 70px;
    bottom: -2px;
    left: 0;
  }
  .box3 {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px;
    //padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border: 1px solid lightgray;
    //max-width: 148px;
    width: 300px;
    margin-bottom: 0px;
    margin-top: 3px;
}
.menu-text2 {
    font-size: 11px;
    color: #222b45;
    font-weight: bold;
    text-align: center;
   // overflow-x: hidden;
    font-family: "Nunito";
    margin-right: 2px;
    margin-top: 3px;
    margin-bottom: 0px;
}
.menu-text3 {
  font-size: 16px;
  color: #222b45;
  font-weight: bold;
  text-align: center;
 // overflow-x: hidden;
  font-family: "Nunito";
 // margin-right: 2px;
  margin-top: 19px;
  margin-bottom: 0px;
}
.cadre2{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#007bfc, #011375);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #F4F5F7!Important;
    margin-right: 1px;
    margin-top: 5px;
}