
<ion-app>
  <ion-header translucent="true"  class="h1">
    <ion-toolbar  style="display: flex;justify-content: center;flex-direction: row;background-color: #F4F5F7!Important">
     
      <div style="padding-top: 20px;padding-bottom: 20px; display: flex;align-items: center;flex-direction: row;   height: 59px;justify-content: center; margin-right: 26px;">
        <div>
          <ion-icon name="chevron-back" style="color: #192a56;font-size: 25px;margin-top: 7px;" *ngIf="!isResult;"  (click)="goTo('/RechercheAvancee')"></ion-icon>
          <ion-icon name="chevron-back" style="color: #192a56;font-size: 25px;margin-top: 7px;" *ngIf="isResult;"  (click)="back()"></ion-icon>
      </div>
        <span class="fa-stack m-0 my-auto" style="margin-bottom: 5px;    margin-left: 35px;">
          <i class="fas fa-folder fa-stack-2x"  style="font-size: 2em; color:#192a56;"></i>
          <i class="fa fa-search fa-inverse fa-stack-1x" style="font-size: 1em; margin-top:2px;color: white;"></i>
        </span>
        <h1 class="title" style="color: #192a56; height: 3px;margin-top: 0; margin-left: 2px; margin-bottom: 19px; margin-right: 20px;  font-size: 21px;"  >Rechercher un dossier </h1>
      </div>
  </ion-toolbar>
    
  </ion-header>
  <ion-content  fullscreen="true"  style="--background: url('./assets/icon/bg.jpg')  no-repeat center/cover fixed; overflow: auto;"    >
  
    <div *ngIf="!isResult; then searchBlock else resultBlock "></div>
    <ng-template #searchBlock>
        <div class="container" style="margin-top: 40px;">


            <form class="ml-5 my-5" [formGroup]="folderFormGroup">
            

                <div class="form-group">
                  <!--ion-list style="width: 80%; margin-left: 39px; height: 30px; margin-bottom: 10px; border: 1px solid  #56bfe4; border-radius: 13px 13px 13px 13px; "> 
                    <ion-item  style="margin-top: -7px;">
                     <ion-label style="font-size: 14px;font-weight: 550;  font-family: 'Raleway', sans-serif;color: #273c75; ">Types Documents :</ion-label>
                   <ion-select class="form-control" formControlName="Type" id="folder-type" style="font-size: 15px;">
                   
                     <ion-select-option style="font-size: 15px;"  *ngFor="let ft of folders" [value]="ft.id">{{ft.name}}</ion-select-option>
                   </ion-select>
                 </ion-item>
               </ion-list-->

               <!--div class="col-sm-12">
                <h1 for="ref " position="floating" 
                style="color: #273c75; font-size: 14px;height: 16px;  font-family: 'Raleway', sans-serif; margin-left: 41px; margin-bottom: 3px ;margin-top: 0px;"
                >Types Dossiers:</h1>
                <input  formControlName="Types" class="form-control" list="types" type="text"  placeholder="  Choisez un type dossier"   style="width: 80%; margin-left: 39px; height: 30px; margin-bottom: 10px; border: 1px solid  #56bfe4; border-radius: 13px 13px 13px 13px; "  >
               

                <datalist id="types"  >
               <optgroup label="Type document" >
                  <option style="font-size: 15px;"  *ngFor="let ft of folders" [value]="ft.id" >{{ft.name}}</option>
                  </optgroup>
                 
          </datalist>
              
            </div-->

            <ion-list  style="width: 80%; margin-left: 39px; height: 30px; margin-bottom: 10px; border: 1px solid  #56bfe4; border-radius: 13px 13px 13px 13px; ">
              <ion-item style="margin-top: -7px; font-size: 14px;">
               <ion-label  style="font-size: 14px;font-weight: 550;  font-family: 'Raleway', sans-serif;color: #273c75; ">Types Dossiers:</ion-label>
               <ionic-selectable   style="font-size: 14px;font-weight: 550;  font-family: 'Raleway'"  
               item-content 
                 class="form-control"
                 formControlName="Types"                     
                 [items]="this.folders"
                 itemValueField="id"
                 itemTextField="name"
                 [canSearch]="true"
             
                 closeButtonSlot="start"
                 closeButtonText="Annuler">
               </ionic-selectable>
             </ion-item>
           </ion-list>

                </div >



                <div class="form-group">


                  <!--ion-list style="width: 80%; margin-left: 39px; height: 30px; margin-bottom: 10px; border: 1px solid  #56bfe4; border-radius: 13px 13px 13px 13px; "> 
                    <ion-item  style="margin-top: -7px;">
                     <ion-label style="font-size: 14px;font-weight: 550;  font-family: 'Raleway', sans-serif;color: #273c75; ">Client :</ion-label>
                   <ion-select class="form-control " id="client" (change)="changeSuit($event)" formControlName="Client" style="font-size: 15px;">
                   
                     <ion-select-option style="font-size: 15px;"  *ngFor="let c of clients" [value]="c.id">{{c.name}}</ion-select-option>
                   </ion-select>
                 </ion-item>
               </ion-list-->

               <!--div class="col-sm-12">
                <h1 for="ref " position="floating" 
                style="color: #273c75; font-size: 14px;height: 16px;  font-family: 'Raleway', sans-serif; margin-left: 41px; margin-bottom: 3px ;margin-top: 0px;"
                >Client :</h1>
                <input  formControlName="Client" class="form-control" list="Client" type="text" placeholder="  Choisez un client"   style="width: 80%; margin-left: 39px; height: 30px; margin-bottom: 10px; border: 1px solid  #56bfe4; border-radius: 13px 13px 13px 13px; "  >
               

                <datalist id="Client"  >
               <optgroup label="Client" >
                  <option style="font-size: 15px;"  *ngFor="let c of clients" [value]="c.id">{{c.name}}</option>
                  </optgroup>
                 
          </datalist>
              
            </div-->

            <ion-list  style="width: 80%; margin-left: 39px; height: 30px; margin-bottom: 10px; border: 1px solid  #56bfe4; border-radius: 13px 13px 13px 13px; ">
              <ion-item style="margin-top: -7px; font-size: 14px;">
               <ion-label  style="font-size: 14px;font-weight: 550;  font-family: 'Raleway', sans-serif;color: #273c75; ">Client :</ion-label>
               <ionic-selectable   style="font-size: 14px;font-weight: 550;  font-family: 'Raleway'"     
               item-content      
                class="form-control" 
                formControlName="Client"                    
                 [items]="this.clients"
                 itemValueField="id"
                 itemTextField="name"
                 [canSearch]="true"
             
                 closeButtonSlot="start"
                 closeButtonText="Annuler">
               </ionic-selectable>
             </ion-item>
           </ion-list>

                 
                    
                </div>

                <div class="form-group">
                 
                  
                  <div class="form-group" style="margin-right: 43px;">
                
                    <h1 for="ref " position="floating" 
                    style="color: #273c75; font-size: 14px;height: 16px;  font-family: 'Raleway', sans-serif; margin-left: 41px; margin-bottom: 3px ;margin-top: 0px;"
                     >Référence :</h1>
                    <ion-item style=" width: 90%; margin-left: 39px;border: 1px solid #56bfe4;height: 25px;justify-items: center;  margin-bottom: 5px;    border-radius: 13px 13px 13px 13px;"> 
                      
                      <div >
                      <ion-input formControlName="Reference" type="text " class="form-control form-control-user"id="ref "  style="width: 280px; --padding-bottom: 30px; --padding-top: 4px;font-size: smaller;" ></ion-input>
                    </div>
                 </ion-item>
                   
                  </div>
                </div>

                
<div class="form-group" style="margin-right: 43px;">
                
  <h1 for="ref " position="floating" 
  style="color: #273c75; font-size: 14px;height: 16px;  font-family: 'Raleway', sans-serif; margin-left: 41px; margin-bottom: 3px ;margin-top: 0px;"
   >Numéro :</h1>
  <ion-item style=" width: 90%; margin-left: 39px;border: 1px solid #56bfe4;height: 25px;justify-items: center;  margin-bottom: 5px;    border-radius: 13px 13px 13px 13px;"> 
    
    <div >
    <ion-input formControlName="Number" type="number" class="form-control" id="fnum "   style="width: 280px; --padding-bottom: 30px; --padding-top: 4px;font-size: smaller;" ></ion-input>
  </div>
</ion-item>
 
</div>
  
                <div class="form-group" style="margin-right: 43px;">

                    <h1 for="ref " position="floating" 
                    style="color: #273c75; font-size: 14px;height: 16px;  font-family: 'Raleway', sans-serif; margin-left: 41px; margin-bottom: 3px ;margin-top: 0px;"
                     >Date :</h1>
                    <ion-item style=" width: 90%; margin-left: 39px;border: 1px solid #56bfe4;height: 25px;justify-items: center;  margin-bottom: 5px;    border-radius: 13px 13px 13px 13px;"> 
                      
                      <div >
                      <ion-datetime formControlName="Date" type="date" name="date" displayFormat="MM DD YYYY"   id="fdate" class="form-control" style="--padding-bottom: 30px;--padding-top: 4px;font-size: smaller;" ></ion-datetime>
                    </div>
                 </ion-item>

                </div>
                
                <div class="form-group row mx-auto ">
                  <div style="width: 100%;justify-items: center;">
                    <ion-row style="display: flex;flex-direction: row;justify-items: center;margin-top: 10px;">
                      <ion-col col-6 styles="width: 125px;">
                        <ion-button style=" overflow-x: hidden; font-family: 'Nunito'; width: 125px;margin-left: 46px;height: 26px; " color="danger" expand="block"  (click)="undo()"  >
                         Annuler
                        </ion-button>
                      </ion-col>
                      <ion-col col-6>
                         <ion-button style=" overflow-x: hidden; font-family: 'Nunito'; width: 125px;height: 26px;" color="primary" expand="block"  (click)="onSubmit()">
                          Rechercher
                        </ion-button>
                      </ion-col>
                    </ion-row>

                   
                </div>
                </div>
            </form>
        </div>
    </ng-template>
 <!---------------Fin search block-->
 <ng-template #resultBlock>
           
  <div class="container-fluid">
    <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
    (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)" (ionSlidePrevEnd)="Loadprev()" (ionSlideNextEnd)="LoadNext()">
    <ion-slide *ngFor="let p of pages ; let i = index">
      <div *ngIf="isLoading"  style="margin-bottom: 40px;">
        <!--h5 class="menu-text3"> Résultat de recherche :  <span class="text-muted"><small>{{resultTotal}} Dossier(s)</small></span></h5-->
        <h6 class="menu-text3"> Résultat de recherche :  <span class="text-muted"><small> {{(this.NBelstock)}} / {{resultTotal}} Dossier(s)</small></span></h6>
          <div  style="display: flex; flex-direction: column;">
              <ion-grid style="margin-left: 14px;">
                <ion-row>
                <ion-col col-2 *ngFor="let f of foldersResut"  style="max-width: 170px; min-width: 170px;">
                  <ion-card text-center padding  class="box3" >
                    <div _ngcontent-rvl-c121="" style="display: flex ;flex-direction: row;justify-content: left;">
                      <span class="fa-stack m-0 my-auto" style="font-weight: 500;margin-bottom: 10px;">
                          <i class="fas fa-folder fa-stack-2x" style="font-size: 3em; color:#ffbd00;"></i>
                          <i  *ngIf="isFavorite(f)"class="fa fa-star fa-inverse fa-stack-1x" style="font-size: 1.2em;margin-top: 9px;margin-left: 4px;color: #f1a402"></i>
                        </span>
                      </div>
                      <h6 style="  margin-top: 4px;margin-bottom: 0px;font-size: 10px;">Réf/Num</h6>
                    <h2 class="menu-text2">{{f.reference}}/{{f.number}}</h2>
                  </ion-card>
                </ion-col>
              </ion-row>
              </ion-grid>
           
              <!-- <app-folder [isFav]="isFavorite(f)" [mode]="operation" [folder]="f" (click)='selectFolder(f)' [isCheked]="checkIfChecked(f)">
                  div class="btn-group options-menu" contextmenu>

                      <a data-toggle="dropdown" aria-haspopup="true " aria-expanded="false " class=" mt-0 ml-0 " style="cursor: pointer; ">
                          <i class="fas fa-ellipsis-h"></i>
                      </a>
                      <div class="dropdown-menu px-0 ">
                          <a class="dropdown-item "
                          (click)="isFavorite(f) ?this.DeleteFavoritefolder(f.id) : addToFavorite(f.id)"><span
                              style="color: #FDCC0D; "><i
                                  class="fas fa-star"></i></span>
                         {{isFavorite(folder) ? 'Défavoris' : 'Favoris'}} </a>
                          <div class="dropdown-divider "></div>
                          <a class="dropdown-item" (click)="setFolderId(f.id)"> <i class="fas fa-unlink    "></i> Détacher liaison</a>
                          <a class="dropdown-item" (click)="this.share.editFolder(f)"><i class=" fas fa-edit "></i> Modifier</a>
                          <a class="dropdown-item " (click)="this.share.deleteFolder(folder)"><span style="color: rgb(228, 66, 37); "><i class="fas fa-trash-alt "></i></span> Supprimer</a>

                      </div>
                  </div>
              </app-folder>-->
          </div>
          <div *ngIf="resultTotal==0" class="col-12">
              <!--app-no-result-founded>
      fa fa-folder-open
              </app-no-result-founded-->
              
              <div style=" display: flex;flex-direction: row;justify-content: center; color:#6c757d!important; ">   <span class="fa-stack m-0 my-auto" ><i class="fa fa-folder-open fa-stack-2x" style="font-size: 3em; color:#ffbd00;"></i></span></div>
              <div  style="  color:#6c757d!important;   display: flex;flex-direction: row;justify-content: center;height: 75px;margin-top: 15px;"> Désolé,aucun résultat n'a été trouvé. </div>
            
          </div>
       

      </div>

      <!--h6 class="menu-text2" style="justify-content: flex-end;margin-left: 135px;position: absolute;bottom: 30px; " > Totale : {{(this.NBelstock)}} / {{resultTotal}}</h6-->
      <!--div class="d-flex" *ngIf="pages.length>1">
          <div class="mx-auto pagination">
              <ul style="display: flex;width: 100%;justify-content: center;align-content: center;list-style-type: none;padding: 0; height: 0px; margin-top: 9px;margin-bottom: 27px;">
                  <li class="page-item page-pre"><a class="page-link"  style="margin: 5px;" aria-label="previous page"
                          (click)="goPage(0)">‹‹</a></li>
                  <li class="page-item" *ngFor="let p of pages; index as i"
                      [class]="page==i? 'active' : 'not'">
                      <a style="cursor: pointer;" class="page-link"  style="margin: 5px;"(click)="goPage(i)">{{i+1}}
                      </a>
                  </li>

                  <li class="page-item page-next"><a class="page-link" style="margin: 5px;" aria-label="next page"
                          (click)="goPage(pages.length-1)">››</a></li>
              </ul>
          </div>
      </div-->

    </ion-slide>

    <ion-slide *ngIf="resultTotal==0">
      <div *ngIf="resultTotal==0" class="col-12">

        <div style=" display: flex;flex-direction: row;justify-content: center; color:#6c757d!important; margin-top: 30px; ">   <span class="fa-stack m-0 my-auto" ><i class="fa fa-folder-open fa-stack-2x" style="font-size: 3em; color:#ffbd00;"></i></span></div>
        <div  style="  color:#6c757d!important;   display: flex;flex-direction: row;justify-content: center;height: 75px;margin-top: 15px;"> Désolé,aucun résultat n'a été trouvé. </div>
      
    </div>
      
    </ion-slide>

  </ion-slides>

  </div>
</ng-template>



  
  </ion-content>
  
</ion-app>