<ion-app>
  <ion-header translucent="true"  class="h1">
    <ion-toolbar  style="display: flex;justify-content: center;flex-direction: row;background-color: #F4F5F7!Important">
     
      <div style="padding-top: 20px;padding-bottom: 20px; display: flex;align-items: center;flex-direction: row;   height: 59px;justify-content: center; margin-right: 26px;">
        <div>
          <ion-icon name="chevron-back" style="color: #192a56;font-size: 25px;margin-top: 7px;     padding-right: 36px" (click)="goTo('/folderslist')" ></ion-icon>

      </div>
      
      <span class="ml-1 mr-3" style="font-size: 12px; color: white;    margin-left: 35px;">

        <i class="fas fa-folder " style="font-size: 2em; color:#f1a402; margin-right: 5px;"></i>
     </span>
      <h1 class="title" style="color: #192a56; height: 3px;margin-top: 0; margin-left: 2px; margin-bottom: 19px; margin-right: 65px;  font-size: 21px;"  >Dossier récent </h1>
      </div>
  </ion-toolbar>
    
  </ion-header>
  <ion-content  fullscreen="true"  style="--background: url('./assets/icon/bg.jpg')  no-repeat center/cover fixed; overflow: auto;"    >

    <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
            (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)" (ionSlidePrevEnd)="Loadprev()" (ionSlideNextEnd)="LoadNext()">
            
            
            <ion-slide *ngFor="let p of totalWeekpage2 ; let i = index" >
       
        <div *ngIf="isLoading" >
          <div style="display: flex; flex-direction: row;justify-content: center; margin-top: 8px;  ">
            <div style="  border: 1px solid lightgray; background-color: #ffff; border-radius: 25px;    width: 210px;"> 
            <h6 class="menu-text3"  >Dérniere Semaine:<small> {{(this.NBelstock)}}/{{countOfLastWeek}} dossier(s)</small> </h6>
          </div>
            </div>
         
            <div  style="display: flex; flex-direction: column;">
                <ion-grid>
                  <ion-row style="justify-content: center;">
                  <ion-col col-2 *ngFor="let f of lastWeekFolders"  style="max-width: 170px; min-width: 170px;">
                    <ion-card text-center padding  class="box3" >
                      <div _ngcontent-rvl-c121="" style="display: flex ;flex-direction: row;justify-content: left;">
                        <span class="fa-stack m-0 my-auto" style="font-weight: 500;margin-bottom: 10px;">
                            <i class="fas fa-folder fa-stack-2x" style="font-size: 3em; color:#ffbd00;"></i>
                            <i  *ngIf="isFavorite(f)"class="fa fa-star fa-inverse fa-stack-1x" style="font-size: 1.2em;margin-top: 9px;margin-left: 4px;color: #f1a402"></i>
                          </span>
                        </div>
                        <h6 style="  margin-top: 4px;margin-bottom: 0px;font-size: 10px;">Réf/Num</h6>
                      <h2 class="menu-text2">{{f.reference}}/{{f.number}}</h2>
                    </ion-card>
                  </ion-col>
                </ion-row>
                </ion-grid>
             
            
            </div>
            <!--div *ngIf="countOfLastWeek==0" class="col-12">
                <app-no-result-founded>
        fa fa-folder-open
                </app-no-result-founded>
                
                <div style=" display: flex;flex-direction: row;justify-content: center; color:#6c757d!important; ">   <span class="fa-stack m-0 my-auto" ><i class="fa fa-folder-open fa-stack-2x" style="font-size: 3em; color:#ffbd00;"></i></span></div>
                <div  style="  color:#6c757d!important;   display: flex;flex-direction: row;justify-content: center;height: 75px;margin-top: 15px;"> Désolé,aucun résultat n'a été trouvé. </div>
              
            </div>
<div style="display:flex; flex-direction: row;justify-content: flex-end;margin-left: 254px;">
  <h6 class="menu-text2" > Totale : {{countOfLastWeek}} Dossier(s)</h6>
</div-->
<!--h6 class="menu-text2" style="justify-content: flex-end;margin-left: 195px;position: absolute;bottom: 30px;" > Totale : {{(this.NBelstock)}} / {{countOfLastWeek}}</h6-->
        </div>
      
        
        
      </ion-slide>

      <ion-slide *ngIf="countOfLastWeek==0">
        <div *ngIf="countOfLastWeek==0" class="col-12">
          <div style="display: flex; flex-direction: row;justify-content: center; margin-top: 8px;  ">
            <div style="  border: 1px solid lightgray; background-color: #ffff; border-radius: 25px;    width: 140px;"> 
            <h6 class="menu-text3"  >Dérniere Semaine.</h6>
          </div>
            </div>
          <!--app-no-result-founded>
  fa fa-folder-open
          </app-no-result-founded-->
          
          <div style=" display: flex;flex-direction: row;justify-content: center; color:#6c757d!important; margin-top: 30px; ">   <span class="fa-stack m-0 my-auto" ><i class="fa fa-folder-open fa-stack-2x" style="font-size: 3em; color:#ffbd00;"></i></span></div>
          <div  style="  color:#6c757d!important;   display: flex;flex-direction: row;justify-content: center;height: 75px;margin-top: 15px;"> Désolé,aucun résultat n'a été trouvé. </div>
        
      </div>
        
      </ion-slide>
    
    </ion-slides>


  </ion-content>
</ion-app>
